<div class="lb">
    <div class="lb-administrator" >
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
  </div>
    <div class="lb-admin">
        <label for="labelAdmin">Novo Cadastro</label> 
    </div>
  </div>
  <div class="fundo">
      <form>
          <div class="form-row">
            <div class="form-group ">
              <label for="inputNomeCompleto">Nome Completo<strong>*</strong></label>
              <input type="text" class="form-control" id="inputNomeCompleto">
            </div>
            <div class="form-group ">
                <label for="inputNomeCompleto">Usuário <strong>*</strong></label>
                <input type="text" class="form-control" id="inputNomeCompleto">
              </div>
            <div class="form-group ">
              <label for="inputCPF">CPF <strong>*</strong></label>
              <input type="text" class="form-control" id="inputCPF">
            </div>
            <div class="form-group">
              <label for="inputCelular">N° de Telefone <strong>*</strong></label>
              <input type="text" class="form-control" id="inputCelular">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">E-mail <strong>*</strong></label>
                <input type="email" class="form-control" id="inputEmail">
              </div>
            <div class="form-group col-md-6">
              <label for="inputSenha">Senha <strong>*</strong></label>
              <input type="password" class="form-control" id="inputSenha">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSenha">Confirmar Senha <strong>*</strong></label>
                <input type="password" class="form-control" id="inputSenha">
              </div>
            <div class="btn">
              <button type="button" class="btn btn-success">Confirmar</button>
            </div>
            <div class="btn">
                <button type="button" class="btn btn-secondary">Voltar</button>
            </div>
          </div>
      </form> 
  </div>
  
    